header.header
	img.header__logo(src="images/logo_nikola.png", alt="Храм святителя Николая")
nav.menu
	div.container.menu__container
		ul.list.menu__list
			-
				var menu = [
				{ name:'Летопись храма', hidden:['Основание Храма', 'Современность Храма', 'Настоятели Храма', 'Фотоархив', 'Видеоархив', 'Аудиоархив']},
				{ name:'Новости'},
				{ name:'Проповедь', hidden: ['Проповедь Патриарха', 'Проповедь Митрополита', 'Проповедь Священника', 'Проповедь Настоятеля']},
				{ name:'Библиотека', hidden: ['Библия', 'Богословие', 'Статьи', 'Жития святых', 'Художественная классика', 'Иконопись']},
				{ name:'Прихожанину', hidden: ['Святыни и иконы', 'Расписание богослужений', 'Предстоящие события', 'Тюремное служение',
				'Социальное служение', 'Молодежное служение', 'Катехизация', 'Часто задаваемые вопросы', 'Православный календарь']},
				{ name:'Воскресная', hidden: ['О Воскресной школе', 'Новости школы', 'Фото и видео']},
				{ name:'Контакты'}]
			for elem in menu
				li.menu__list-item
					if elem.hidden
						span.menu__link #{elem.name}
						ul.list.menu__list-hidden
							for elem1 in elem.hidden
								li.menu__list-item: a.menu__hidden-link(href="#") #{elem1}
					else
						a.menu__link(href="#") #{elem.name}
		div.menu__buttons
			button.button.menu__search
				svg.menu__icon
					use(xlink:href="images/sprite.svg#icon-search")
			button.button.menu__switch
				svg.menu__icon
					use(xlink:href="images/sprite.svg#icon-menu")