div.modal.modal--xl
	div.modal__box
		div.modal__inner
			div.modal__header
				h2.title.title--s.modal__title Modal Title
				button.button.modal__close close modal
			div.modal__content
				p.
					Lorem ipsum dolor
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
					incididunt ut
					labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
					laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
					in
					voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
					cupidatat
					non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
