aside.sidebar.page__sidebar
	article.calendar.sidebar__calendar
		h2.title.title--m.title--line Сегодня
		a.calendar__container(href="#")
			div.calendar__date
				time.calendar__new-date(datetime="2018-02-01")
					span.calendar__date-day 1
					span.calendar__date-month февраля
				time.calendar__old-date(datetime="2018-01-19")
					span.calendar__date-day 19
					span.calendar__date-month января
					span.calendar__old-date-name ст.ст.
			span.calendar__name-day четверг
			span.calendar__name-week Седмица сплошная
			span.calendar__fasting Поста нет
	div.sacrifice.sacrifice--middle.sidebar__sacrifice
		span.sacrifice__preface Дорогие братья и сестры!
		span.sacrifice__text Молитвенно просим Вас внести свою лепту в дело возрождения исторической и духовной святыни - храма в честь святителя Николая чудотворца.
		button.button.button--blue.button--middle.sacrifice__button Пожертвовать
	div.question.question--middle.sidebar__question
		button.link.button.question__button(type="button") Задать вопрос настоятелю
		svg.question__icon
			use(xlink:href="images/sprite.svg#icon-question")