extends layout/layout

block title
	title Часто задаваемые вопросы

block content
	-

		var breadcrumbs = [{name: 'Главная', flag: 1, link: "index.html"}, {name: 'Прихожанину', flag: 0}, {name: 'Часто задаваемые вопросы', flag: 0}]
		var question = [
		{
		name: '1. Кто создал Бога?'
		},
		{
		name: '2. Где живет Бог?'
		},
		{
		name: '3. Мне всегда говорили, что Бог был всегда. Как это может быть, ведь у всего есть начало?'
		},
		{
		name: '4. Почему появилась земля?'
		},
		{
		name: '5. Почему говорят, что Бог создал планету, зверей и людей?'
		},
		{
		name: '6. Правда ли, что существовали динозавры?'
		},
		{
		name: '7. Какое животное появилось первое на Земле?'
		},
		{
		name: '8. Что Бог создал первым – яйцо или курицу?'
		},
		{
		name: '9. Есть ли у животных душа? Если есть, то куда она поподает после смерти?'
		},
		{
		name: '10. Зачем Бог создал людей?'
		},
		{
		name: '11. Почему люди нуждаются в еде?'
		},
		{
		name: '12. Отчего появилась бесовщина?'
		},
		{
		name: '13. Ужасный грех совершили Адам и Ева – какой?'
		},
		{
		name: '14. Господь наказал людей Содома и Гоморы за грехи. Но в этих городах жила благочестивая семья Лота. Господь послал Ангела, чтобы сказать им, чтобы они уходили, но не оглядывались. Жена Лота оглянулась и стала соляным столбом. Вопрос: стоит ли сейчас этот столб?'
		}
		]
	include layout/breadcrumbs
	div.container.page__inner
		main.page__main
			h1.title.title--m.title--line.page__title Часто задаваемые вопросы
			div.page__content
				div.chosen.page__chosen
					form.chosen__form(method="post", name="theme")
						span.chosen__name Тема
						select.chosen__select.chosen__select--xxl
							option Детский катехизис
				div.faq
					span.faq__ask Если Вы не нашли ответа на свой вопрос в этом списке, Вы можете
					button.button.link.faq__button(type="button") Задать вопрос настоятелю
					div.faq__questions
						for elem in question
							div.faq__question
								button.button.link.faq__question-name(type="button") #{elem.name}
								div.faq__question-value
									p.
										Никто не создал Бога. Вот Бог создал мир из ничего – сообразите, как это создать из ничего и кому это под силу, а Господь был всегда, представить себе это трудно, вы, наверное, и не сможете, да и я тоже, но так оно есть.
		include layout/sidebar