extends layout/layout

block title
	title Фотоархив

block content
	-
		var breadcrumbs = [{name: 'Главная', flag: 1, link: "index.html"}, {name: 'Летопись храма', flag: 0}, {name: 'Фотоархив', flag: 0}]
	include layout/breadcrumbs
	div.container.page__inner
		main.page__main
			h1.title.title--m.title--line.page__title Фотоархив
			div.page__content
				div.chosen.page__chosen
					form.chosen__form(method="post", name="year")
						span.chosen__name Год
						select.chosen__select.chosen__select--xl
							option 2011
					form.chosen__form(method="post", name="event")
						span.chosen__name Событие
						select.chosen__select.chosen__select--xxl
							option Престольный праздник
				h2.title.title--ms.page__title Праздник святителю Николаю, архиепископу Мир Ликийских, чудотворцу (19.12.2011г.)
				div.gallery
					img.gallery__img(src="images/delete/news-3.jpg", alt="Праздник")
					img.gallery__img(src="images/delete/news-4.jpg", alt="Праздник")
					img.gallery__img(src="images/delete/news-5.jpg", alt="Праздник")
					img.gallery__img(src="images/delete/news-3.jpg", alt="Праздник")
					img.gallery__img(src="images/delete/news-4.jpg", alt="Праздник")
					img.gallery__img(src="images/delete/news-5.jpg", alt="Праздник")
					img.gallery__img(src="images/delete/news-3.jpg", alt="Праздник")
					img.gallery__img(src="images/delete/news-4.jpg", alt="Праздник")
					img.gallery__img(src="images/delete/news-5.jpg", alt="Праздник")
		include layout/sidebar