extends layout/layout

block content
	main.main
		div.section
			//div.owl-carousel
			//	div.owl-carousel__imgbox
			//		img.owl-carousel__img(src="images/delete/main_slider_photo.jpg")
			//		div.owl-carousel__description
			//			p.
			//				Обращение настоятеля храма к прихожанам.
			//				В карусель также можно вынести самые важные новости, статьи, объявления, праздники.
			//	div.owl-carousel__imgbox
			//		img.owl-carousel__img(src="images/delete/news-1.jpg")
			//		div.owl-carousel__description
			//			p.
			//				Обращение настоятеля храма к прихожанам.
			//				В карусель также можно вынести самые важные новости, статьи, объявления, праздники.
			//	div.owl-carousel__imgbox
			//		img.owl-carousel__img(src="images/delete/news-2.jpg")
			//		div.owl-carousel__description
			//			p.
			//				Обращение настоятеля храма к прихожанам.
			//				В карусель также можно вынести самые важные новости, статьи, объявления, праздники.
		article.calendar
			h2.title.title--s.calendar__title Сегодня
			div.calendar__container
				div.calendar__date
					time.calendar__new-date(datetime="2018-02-01")
						span.calendar__date-day 1
						span.calendar__date-month февраля
					time.calendar__old-date(datetime="2018-01-19")
						span.calendar__date-day 19
						span.calendar__date-month января
						span.calendar__old-date-name ст.ст.
				span.calendar__name-day четверг
				span.calendar__name-week Седмица сплошная
				span.calendar__fasting Поста нет