extends layout/layout

block title
	title Проповедь Патриарха

block content
	-
		var breadcrumbs = [{name: 'Главная', flag: 1, link: "index.html"}, {name: 'Проповедь', flag: 0}, {name: 'Проповедь Патриарха', flag: 0}]
		var news = [
		{
		date: '8 апреля 2018 г.',
		date_1: "2018-04-08",
		title: 'Слово Святейшего Патриарха Кирилла после Пасхальной великой вечерни в Храме Христа Спасителя в Москве',
		description: '8 апреля, в день праздника Светлого Христова Воскресения, Святейший Патриарх Кирилл совершил Пасхальную великую вечерню в Храме Христа Спасителя в Москве. По окончании богослужения Предстоятель Русской Церкви обратился к собравшимся в храме со словом.'
		},
		{
		date: '8 апреля 2018 г.',
		date_1: "2018-04-08",
		title: 'Слово Святейшего Патриарха Кирилла после Пасхальной великой вечерни в Храме Христа Спасителя в Москве',
		description: '8 апреля, в день праздника Светлого Христова Воскресения, Святейший Патриарх Кирилл совершил Пасхальную великую вечерню в Храме Христа Спасителя в Москве. По окончании богослужения Предстоятель Русской Церкви обратился к собравшимся в храме со словом.'
		},
		{
		date: '8 апреля 2018 г.',
		date_1: "2018-04-08",
		title: 'Слово Святейшего Патриарха Кирилла после Пасхальной великой вечерни в Храме Христа Спасителя в Москве',
		description: '8 апреля, в день праздника Светлого Христова Воскресения, Святейший Патриарх Кирилл совершил Пасхальную великую вечерню в Храме Христа Спасителя в Москве. По окончании богослужения Предстоятель Русской Церкви обратился к собравшимся в храме со словом.'
		},
		{
		date: '8 апреля 2018 г.',
		date_1: "2018-04-08",
		title: 'Слово Святейшего Патриарха Кирилла после Пасхальной великой вечерни в Храме Христа Спасителя в Москве',
		description: '8 апреля, в день праздника Светлого Христова Воскресения, Святейший Патриарх Кирилл совершил Пасхальную великую вечерню в Храме Христа Спасителя в Москве. По окончании богослужения Предстоятель Русской Церкви обратился к собравшимся в храме со словом.'
		},
		{
		date: '8 апреля 2018 г.',
		date_1: "2018-04-08",
		title: 'Слово Святейшего Патриарха Кирилла после Пасхальной великой вечерни в Храме Христа Спасителя в Москве',
		description: '8 апреля, в день праздника Светлого Христова Воскресения, Святейший Патриарх Кирилл совершил Пасхальную великую вечерню в Храме Христа Спасителя в Москве. По окончании богослужения Предстоятель Русской Церкви обратился к собравшимся в храме со словом.'
		},
		{
		date: '8 апреля 2018 г.',
		date_1: "2018-04-08",
		title: 'Слово Святейшего Патриарха Кирилла после Пасхальной великой вечерни в Храме Христа Спасителя в Москве',
		description: '8 апреля, в день праздника Светлого Христова Воскресения, Святейший Патриарх Кирилл совершил Пасхальную великую вечерню в Храме Христа Спасителя в Москве. По окончании богослужения Предстоятель Русской Церкви обратился к собравшимся в храме со словом.'
		},
		{
		date: '8 апреля 2018 г.',
		date_1: "2018-04-08",
		title: 'Слово Святейшего Патриарха Кирилла после Пасхальной великой вечерни в Храме Христа Спасителя в Москве',
		description: '8 апреля, в день праздника Светлого Христова Воскресения, Святейший Патриарх Кирилл совершил Пасхальную великую вечерню в Храме Христа Спасителя в Москве. По окончании богослужения Предстоятель Русской Церкви обратился к собравшимся в храме со словом.'
		}
		]
	include layout/breadcrumbs
	div.container.page__inner
		main.page__main
			h1.title.title--m.title--line.page__title Проповедь Патриарха
			div.page__content
				div.page__groups
					for elem in news
						article.post.page__group
							div.post__wrapper
								div.post__imgbox.post__imgbox--small
									img.post__img(src="images/delete/news-2.jpg", alt="Проповедь")
								div.post__inner
									time.post__date(datetime=elem.date_1) #{elem.date}
									h3.title.title--s.post__title
										a.post__link(href="#") #{elem.title}
									div.post__description
										p #{elem.description}
					include layout/pagination
		include layout/sidebar
