extends layout/layout

block title
	title Проповедь

block content
	-
		var breadcrumbs = [{name: 'Главная', flag: 1, link: "index.html"}, {name: 'Проповедь', flag: 0}, {name: 'Проповедь Патриарха', flag: 0}]
		var news = [
		{
		date: '8 апреля 2018 г.',
		date_1: "2018-04-08",
		title: 'Слово Святейшего Патриарха Кирилла после Пасхальной великой вечерни в Храме Христа Спасителя в Москве',
		description: '8 апреля, в день праздника Светлого Христова Воскресения, Святейший Патриарх Кирилл совершил Пасхальную великую вечерню в Храме Христа Спасителя в Москве. По окончании богослужения Предстоятель Русской Церкви обратился к собравшимся в храме со словом.'
		},
		{
		date: '8 апреля 2018 г.',
		date_1: "2018-04-08",
		title: 'Слово Святейшего Патриарха Кирилла после Пасхальной великой вечерни в Храме Христа Спасителя в Москве',
		description: '8 апреля, в день праздника Светлого Христова Воскресения, Святейший Патриарх Кирилл совершил Пасхальную великую вечерню в Храме Христа Спасителя в Москве. По окончании богослужения Предстоятель Русской Церкви обратился к собравшимся в храме со словом.'
		},
		{
		date: '8 апреля 2018 г.',
		date_1: "2018-04-08",
		title: 'Слово Святейшего Патриарха Кирилла после Пасхальной великой вечерни в Храме Христа Спасителя в Москве',
		description: '8 апреля, в день праздника Светлого Христова Воскресения, Святейший Патриарх Кирилл совершил Пасхальную великую вечерню в Храме Христа Спасителя в Москве. По окончании богослужения Предстоятель Русской Церкви обратился к собравшимся в храме со словом.'
		},
		{
		date: '8 апреля 2018 г.',
		date_1: "2018-04-08",
		title: 'Слово Святейшего Патриарха Кирилла после Пасхальной великой вечерни в Храме Христа Спасителя в Москве',
		description: '8 апреля, в день праздника Светлого Христова Воскресения, Святейший Патриарх Кирилл совершил Пасхальную великую вечерню в Храме Христа Спасителя в Москве. По окончании богослужения Предстоятель Русской Церкви обратился к собравшимся в храме со словом.'
		},
		{
		date: '8 апреля 2018 г.',
		date_1: "2018-04-08",
		title: 'Слово Святейшего Патриарха Кирилла после Пасхальной великой вечерни в Храме Христа Спасителя в Москве',
		description: '8 апреля, в день праздника Светлого Христова Воскресения, Святейший Патриарх Кирилл совершил Пасхальную великую вечерню в Храме Христа Спасителя в Москве. По окончании богослужения Предстоятель Русской Церкви обратился к собравшимся в храме со словом.'
		},
		{
		date: '8 апреля 2018 г.',
		date_1: "2018-04-08",
		title: 'Слово Святейшего Патриарха Кирилла после Пасхальной великой вечерни в Храме Христа Спасителя в Москве',
		description: '8 апреля, в день праздника Светлого Христова Воскресения, Святейший Патриарх Кирилл совершил Пасхальную великую вечерню в Храме Христа Спасителя в Москве. По окончании богослужения Предстоятель Русской Церкви обратился к собравшимся в храме со словом.'
		},
		{
		date: '8 апреля 2018 г.',
		date_1: "2018-04-08",
		title: 'Слово Святейшего Патриарха Кирилла после Пасхальной великой вечерни в Храме Христа Спасителя в Москве',
		description: '8 апреля, в день праздника Светлого Христова Воскресения, Святейший Патриарх Кирилл совершил Пасхальную великую вечерню в Храме Христа Спасителя в Москве. По окончании богослужения Предстоятель Русской Церкви обратился к собравшимся в храме со словом.'
		}
		]
	include layout/breadcrumbs
	div.page__inner
		main.main.page__main
			section.preaching
				h1.title.title--m.title--line.preaching__title Проповедь Патриарха
				div.preaching__group
					for elem in news
						article.preaching__post
							wrapper.preaching__post-wrapper
								div.preaching__imgbox
									img.preaching__img(src="images/delete/news-2.jpg", alt="Проповедь")
								div.preaching__inner
									time.preaching__date(datetime=elem.date_1) #{elem.date}
									h3.title.title--s.preaching__post-title
										a.preaching__link(href="#") #{elem.title}
									div.preaching__description
										p #{elem.description}
				include layout/pagination
		include layout/sidebar
