@import "../variables";

.button {
	border: none;
	background-color: transparent;
	padding: 0;
	font-family: inherit;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&--small {
		border-radius: 4px;
		padding: 1rem 2rem;
		font-size: 1.2rem;
	}

	&--middle {
		border-radius: 4px;
		padding: 1.5rem 4.6rem;
		font-size: 1.2rem;
	}

	&--big {
		border-radius: 4px;
		padding: 1.5rem 6.4rem;
		font-size: 1.2rem;
	}

	&--blue {
		background: linear-gradient(to top, #2985de, #5dade2 100%);
		color: $white;
		text-transform: uppercase;
		font-weight: 700;

		&:hover,
		&:focus {
			background: $blue;
			box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
		}
	}
}
