@import "../variables";

.calendar {
	width: 220px;
}

.calendar__container {
	display: block;
	color: $black;
	text-decoration: none;
	padding: 2rem;
	background-color: $beige;
	text-align: center;

	&:hover,
	&:focus {
		opacity: 0.8;
	}
}

.calendar__title {
	margin-bottom: 2rem;
}

.calendar__date {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.calendar__new-date {
	color: $blue;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-63%) rotate(20deg);
		background-color: #efe7e7;
		height: 66px;
		width: 3px;
	}
}

.calendar__date-day {
	display: block;
	font-family: IzhitsaCyrillic;
	font-size: 48px;
	margin-bottom: 1.5rem;
}

.calendar__date-month {
	display: block;
	font-size: 1.8rem;
	margin-bottom: 0.5rem;
}

.calendar__old-date-name {
	display: block;
	color: rgba(39, 39, 39, 0.6);
}

.calendar__name-day {
	color: $blue;
	display: block;
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	font-weight: 500;

	&::after,
	&::before {
		content: "";
		position: absolute;
		width: 50%;
		background-color: #efe7e7;
		height: 2px;
		left: 50%;
		transform: translateX(-50%);
	}

	&::after {
		top: 0;
	}

	&::before {
		bottom: 0;
	}
}

.calendar__name-week {
	display: block;
	margin-bottom: 1.9rem;
}

@media (max-width: 767px) {
	.calendar__new-date::after {
		right: -34px;
	}
}

@media (min-width: 768px) {
	.calendar__new-date::after {
		right: -25px;
	}
}
