@import "../variables";

.contacts__title {
	margin-bottom: 4rem;
}

.contacts__organization {
	display: block;
	margin-bottom: 2rem;
	font-weight: 700;
	font-size: 1.6rem;
}

.contacts__text {
	display: block;
	font-size: 1.6rem;

	&:not(:last-child) {
		margin-bottom: .5rem;
	}
}

.contacts__email-link {
	margin-left: .5rem;
}

.contacts__open {
	display: block;
	margin-bottom: 2rem;
	font-weight: 700;
	font-size: 1.6rem;
}

.contacts__social {
	display: block;
	margin-bottom: 2rem;
	font-size: 1.6rem;
}

.contacts__bank-details {
	display: block;

	&:not(:last-child) {
		margin-bottom: .5rem;
	}
}

.contacts__group {
	margin-top: 4.5rem;
}

.contacts__item {
	text-align: center;

	&:not(:first-child) {
		margin-top: 5rem;
	}
}

.contacts__imgbox {
	max-width: 146px;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.contacts__name {
	display: block;
	font-weight: 700;
	font-size: 1.6rem;
}

.contacts__about {
	margin-bottom: 1.5rem;
}

.contacts__icon {
	width: 15px;
	height: 15px;
	fill: $gray;
	margin-right: 1rem;
}

@media (min-width: 600px) {
	.contacts__item {
		width: 30%;

		&:not(:nth-child(3n+4)) {
			margin-right: 5%;
		}

		&:first-child {
			width: 100%;
			margin-right: 0;
		}
	}

	.contacts__group {
		display: flex;
		flex-wrap: wrap;
	}
}