@import "../variables";

.contacts {
	font-weight: 500;
}

.contacts__organization {
	display: block;
	margin-bottom: 2rem;
	font-weight: 700;
	font-size: 1.6rem;
}

.contacts__text {
	display: block;
	font-size: 1.6rem;

	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}
}

.contacts__email-link {
	margin-left: 0.5rem;
}

.contacts__open {
	display: block;
	margin-bottom: 2rem;
	font-weight: 700;
	font-size: 1.6rem;
}

.contacts__social {
	display: block;
	margin-bottom: 2rem;
	font-size: 1.6rem;
}

.contacts__bank-details {
	display: block;

	&:not(:last-of-type) {
		margin-bottom: 0.5rem;
	}
}

.contacts__info {
	margin-bottom: 4.5rem;
}

.contacts__group {
	display: flex;
	align-items: center;
}

.contacts__imgbox {
	max-width: 145px;
	width: 100%;
	flex-shrink: 0;
	position: relative;
	margin-right: 1.5rem;

	&::before {
		content: "";
		display: block;
		padding-top: 158%;
		background-color: $blue;
	}
}

.contacts__img {
	position: absolute;
	top: 0;
	left: 0;
}

.contacts__name {
	display: block;
	font-weight: 700;
	font-size: 1.6rem;
}

.contacts__post {
	display: block;
	margin-top: 1rem;
}

.contacts__icon {
	width: 15px;
	height: 15px;
	fill: $light-gray;
	margin-right: 1rem;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.contacts__tel {
	margin-top: 1.5rem;
	position: relative;
	padding-left: 2.5rem;
}

@media (max-width: 599px) {
	.contacts__group {
		margin-top: 5rem;
	}
}

@media (min-width: 600px) {
	.contacts__group {
		width: 48%;

		&:not(:nth-child(2n)) {
			margin-right: 4%;
		}

		&:nth-child(n + 3) {
			margin-top: 5rem;
		}
	}

	.contacts__groups {
		display: flex;
		flex-wrap: wrap;
	}
}