@import "../variables";

.contacts {
	font-weight: 500;
}

.contacts__organization {
	display: block;
	margin-bottom: 2rem;
	font-weight: 700;
	font-size: 1.6rem;
}

.contacts__text {
	display: block;
	font-size: 1.6rem;

	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}
}

.contacts__email-link {
	margin-left: 0.5rem;
}

.contacts__open {
	display: block;
	margin-bottom: 2rem;
	font-weight: 700;
	font-size: 1.6rem;
}

.contacts__social {
	display: block;
	margin-bottom: 2rem;
	font-size: 1.6rem;
}

.contacts__bank-details {
	display: block;

	&:not(:last-of-type) {
		margin-bottom: 0.5rem;
	}
}

.contacts__info {
	margin-bottom: 4.5rem;
}

.contacts__people {
	text-align: center;
}

.contacts__imgbox {
	max-width: 145px;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	position: relative;

	&::before {
		content: "";
		position: relative;
		display: block;
		padding-left: 100%;
		padding-top: 158%;
		background-color: $blue;
	}
}

.contacts__img {
	position: absolute;
	top: 0;
	left: 0;
}

.contacts__name {
	display: block;
	font-weight: 700;
	font-size: 1.6rem;
}

.contacts__about {
	margin-bottom: 1.5rem;
}

.contacts__icon {
	width: 15px;
	height: 15px;
	fill: $gray;
	margin-right: 1rem;
}
