@import "../variables";

.field {
	display: block;

	&--hidden-hint {
		.field__hint {
			position: absolute;
			left: -9999px;
		}
	}

	&--blue {
		.field__input:focus {
			border-color: $blue;
		}
	}
}

.field__hint {
	display: block;
	margin-bottom: 1rem;
}

.field__input {
	box-sizing: border-box;
	padding: 1rem 1.5rem;
	width: 100%;
	border: 2px solid $gray;
	font-family: inherit;
	appearance: none;
	transition: border-color 0.25s;

	&::-moz-placeholder {
		color: $gray;
	}

	&::-webkit-input-placeholder {
		color: $gray;
	}

	&:focus {
		border-color: darken($gray, 20%);
		outline: none;
	}
}
