@import "../variables";

.gallery__img {
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}

@media (max-width: 599px) {
	.gallery__img:not(:first-child) {
		margin-top: 5rem;
	}
}

@media (min-width: 600px) {
	.gallery__img {
		width: 30%;

		&:not(:nth-child(3n)) {
			margin-right: 5%;
		}

		&:nth-child(n + 4) {
			margin-top: 5rem;
		}
	}

	.gallery {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}
}
