@import "../variables";

.main__inner:not(:last-child) {
	margin-bottom: 4rem;
}

@media (max-width: 839px) {
	.main__owl-carousel {
		margin-bottom: 2rem;
	}

	.main__schedule {
		margin-bottom: 3rem;
	}

	.main__sacrifice {
		margin-left: auto;
		margin-right: auto;
	}

	.main__quote {
		margin-bottom: 2rem;
	}

	.main__question {
		margin-left: auto;
		margin-right: auto;
	}

	.main__last-news {
		margin-bottom: 5rem;
	}
}

@media (min-width: 840px) {

	.main__inner {
		display: flex;
		justify-content: space-between;
	}

	.main__owl-carousel {
		margin-right: 2rem;
	}

	.main__schedule {
		margin-right: 3rem;
	}

	.main__quote {
		margin-right: 2rem;
	}

	.main__last-news {
		width: 46%;
		margin-right: 3%;
		flex-shrink: 0;
	}

	.main__question {
		flex-shrink: 0;
	}

	.main__sacrifice {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

@media (min-width: 840px) and (max-width: 1029px) {
	.main__owl-carousel {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 1029px) {
	.main__calendar {
		margin-left: auto;
		margin-right: auto;
	}
}
