@import "../variables";

.preaching__tabs {
	padding-top: 2rem;
	font-size: 1.2rem;
	display: flex;
	margin-bottom: 4rem;
}

.preaching__post:not(:last-of-type) {
	margin-bottom: 5rem;
}

.preaching__post-wrapper {
	margin-bottom: 1.5rem;
}

.preaching__date {
	display: block;
	color: $gray;
	margin-bottom: 1.5rem;
}

.preaching__title {
	margin-bottom: 2rem;
}

.preaching__post-title {
	margin-bottom: 1.5rem;
}

.preaching__link {
	color: $black;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
		color: $blue;
	}
}

.preaching__button {
	margin-top: 4rem;
}

.preaching__description {
	font-weight: 300;
}

@media (max-width: 479px) {
	.preaching__imgbox {
		margin-bottom: 1rem;
	}
}

@media (min-width: 480px) {
	.preaching__post-wrapper {
		display: flex;
	}

	.preaching__imgbox {
		max-width: 200px;
		margin-right: 2rem;
		flex-shrink: 0;
	}
}
