@import "../variables";

.recommendation__author {
	font-size: 1.2rem;
	color: $gray;
	display: block;
	margin-bottom: 1rem;
}

.recommendation__title {
	margin-bottom: 1.5rem;
}

.recommendation__description {
	margin-bottom: 1.5rem;
}

.recommendation__links {
	display: flex;
}

.recommendation__linkbox:not(:last-child) {
	margin-right: .5rem;

	&::after {
		content: '/';
		margin-left: .5rem;
	}
}
