@import "../variables";

.sacrifice {
	border: solid 3px $light-blue;
	background-color: $beige;
	box-sizing: border-box;

	&--big {
		padding: 3rem 3.5rem;
	}

	&--middle {
		padding: 1.2rem;
	}
}

.sacrifice__preface {
	display: block;
	font-weight: 700;
	margin-bottom: 1rem;
}

.sacrifice__text {
	display: block;
	margin-bottom: 2rem;
}

@media (max-width: 840px) {
	.sacrifice {
		text-align: center;
	}
}

@media (min-width: 840px) {
	.sacrifice--middle {
		max-width: 220px;
	}

	.sacrifice--big {
		max-width: 300px;
	}
}
