@import "../variables";

.title {
	margin-top: 0;
	margin-bottom: 0;
}

.title--line {
	position: relative;
	padding-bottom: 1.2rem;

	&::after {
		content: "";
		width: calc(100% - 20px);
		max-width: 228px;
		position: absolute;
		bottom: 2px;
		left: 20px;
		height: 1px;
		background-color: $light-gray;
	}

	&::before {
		content: "";
		position: absolute;
		width: 7px;
		height: 7px;
		bottom: 0;
		left: 2px;
		background-color: $light-gray;
		transform: rotate(45deg);
	}
}

.title--m {
	font-size: 1.8rem;
}

.title--ms {
	font-size: 1.6rem;
}

.title--s {
	font-size: 1.4rem;
}
