@import "../variables";

.title {
	margin-top: 0;
	margin-bottom: 0;
}

.title--xxl {
	font-size: 4.8rem;
}

.title--xl {
	font-size: 3.6rem;
}

.title--l {
	font-size: 3.2rem;
}

.title--m {
	font-size: 2.4rem;
}

.title--s {
	font-size: 1.8rem;
}

