@import "../variables";

.video {
	display: flex;
	flex-direction: column;
}

.video__container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.video__file {
	width: 100%;
	max-width: 220px;
	height: 133px;
	display: block;
	border: none;
}

.video__container {
	padding: 1.5rem 4.5rem 1rem 1.5rem;
	background-color: $beige;
}

.video__name {
	display: block;
	font-weight: 700;
	margin-bottom: 5rem;
	flex-grow: 1;
}

.video__link {
	font-weight: 700;
}
