@import "../variables";

.schedule__container {
	background-color: $beige;
	padding: 3rem 2.5rem;
}

.schedule__days-name {
	display: block;
	font-weight: 700;
	margin-bottom: 1rem;
}

.schedule__list-item:not(:last-child) {
	margin-bottom: 0.5rem;
}

.schedule__time {
	font-weight: 700;
}

@media (max-width: 479px) {
	.schedule__container {
		text-align: center;
	}

	.schedule__days:first-child {
		margin-bottom: 2rem;
	}
}

@media (min-width: 480px) {
	.schedule__days:first-child {
		position: relative;
		margin-right: 7rem;

		&::after {
			content: "";
			position: absolute;
			width: 2px;
			height: 120px;
			top: 50%;
			transform: translateY(-50%);
			right: -3.5rem;
			background-color: #efe7e7;
		}
	}

	.schedule__container {
		display: flex;
	}
}

@media (min-width: 480px) and (max-width: 839px) {
	.schedule__container {
		justify-content: center;
	}
}

@media (min-width: 840px) {
	.schedule__container {
		justify-content: space-between;
	}
}
